:root {
    --primary-bg: #ffe5e5; /* Fundo claro, suave e romântico */
    --secondary-bg: #ffcccc; /* Rosa claro com um toque de vermelho */
    --terciary-bg: #ff9999; /* Rosa avermelhado mais forte */
    --quartiary-bg: #ff6666; /* Vermelho suave para detalhes */
  
    --primary-color: #cc0000; /* Vermelho intenso e apaixonado */
    --secondary-color: #ff4d4d; /* Vermelho vibrante para contrastes */
  
    --primary-text-color: #660000; /* Vermelho escuro para o texto principal */
    --secondary-text-color: #ff1a1a; /* Vermelho forte para destacar elementos importantes */
  
    --primary-font: "Quicksand", sans-serif; /* Fonte moderna e clean */
    --secondary-font: "Playball", sans-serif; /* Fonte romântica e elegante */
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-text-color);
    margin: 0;
    font-family: var(--primary-font);
    background-image: url('/images/spectrum-gradient-v2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

