:root {
    --primary-bg: #ffe5e5; /* Fundo claro, suave e romântico */
    --secondary-bg: #ffcccc; /* Rosa claro com um toque de vermelho */
    --terciary-bg: #ff9999; /* Rosa avermelhado mais forte */
    --quartiary-bg: #ff6666; /* Vermelho suave para detalhes */
  
    --primary-color: #cc0000; /* Vermelho intenso e apaixonado */
    --secondary-color: #ff4d4d; /* Vermelho vibrante para contrastes */
  
    --primary-text-color: #660000; /* Vermelho escuro para o texto principal */
    --secondary-text-color: #ff1a1a; /* Vermelho forte para destacar elementos importantes */
  
    --primary-font: "Quicksand", sans-serif; /* Fonte moderna e clean */
    --secondary-font: "Playball", sans-serif; /* Fonte romântica e elegante */
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-text-color);
    margin: 0;
    font-family: var(--primary-font);
    background-image: url('/images/spectrum-gradient-v2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

.slider {
    width: 100%;
    max-width: 500px;
    height: 666px;
    margin: 20px auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 2px solid var(--secondary-text-color);
    box-shadow: 0 4px 10px var(--secondary-color);
    filter: drop-shadow(0 0 4px var(--secondary-text-color));
    padding: 20px;
}

.slider img {
    width: 100%;
    height: auto;
}

.message {
    background-color: var(--secondary-bg);
    border-radius: 15px;
    margin-top: 20px;
    font-size: 1.2rem;
    width: 100%;
    max-width: 500px;
    box-shadow: inset 3px 3px 10px 0px rgba(255, 9, 9, 0.56),
        inset -3px -3px 10px rgb(0 0 0 / 56%), 
        3px 3px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, var(--secondary-bg), var(--terciary-bg));
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 20px;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 57%),
        -1px -1px 2px rgba(255, 255, 255, 0.5);
    border: 2px solid var(--secondary-text-color);
    box-shadow: 0 4px 10px var(--secondary-color);
    filter: drop-shadow(0 0 4px var(--secondary-text-color));
}

#message {
    color: var(--primary-text-color)
}

.counter {
    color: var(--secondary-bg);
    padding: 15px;
    font-size: 1.3rem;
    font-weight: 600;
    max-width: 60%;
}

.counter p {
    color: var(--primary-text-color);
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 600;
    filter: drop-shadow(0 0 4px var(--secondary-text-color));
}

.couple {
    padding: 20px 0;
    font-family: var(--secondary-font);
    font-size: 3rem;
    font-weight: 200;
    width: 100%;
    max-width: 500px;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    filter: drop-shadow(0 0 6px var(--secondary-text-color));

    text-shadow: 2px 2px 3px rgb(0 0 0 / 57%),
        -1px -1px 2px rgb(255, 0, 64);
    color: var(--primary-text-color);
}

#time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    gap: 0.4rem;
}

#time div {
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
}
#time div span:nth-child(2) {
    border: 2px solid var(--secondary-text-color);
    border-radius: 5px;
    padding: 1rem;
    width: 2.5rem;
    box-shadow: inset 2px 2px 5px rgb(255 0 123), inset -2px -2px 5px rgb(255 0 123), 2px 2px 8px rgb(255 0 0 / 57%);
    background: linear-gradient(145deg, var(--primary-bg), var(--secondary-bg));
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    filter: drop-shadow(0 0 6px var(--secondary-text-color));
    
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5),
                 -1px -1px 2px rgba(255, 255, 255, 0.3);
    color: var(--secondary-text-color);
}

#time div span:nth-child(2):hover {
    background: linear-gradient(145deg, var(--terciary-bg), var(--secondary-bg));
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2),
                inset -3px -3px 8px rgba(255, 255, 255, 0.1),
                4px 4px 12px rgba(0, 0, 0, 0.2);
}

#time div span:nth-child(1) {
    color: var(--primary-text-color);
    width: 2.5rem;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 57%),
    -1px -1px 2px rgba(255, 255, 255, 0.5);
}

footer {
    margin-top: 40px;
    font-size: 1rem;
    color: var(--primary-color);
    padding: 10px;
    text-align: center;
}

.iframe {
    width: 500px;
    padding: 20px;
}

iframe {
    border-radius: 15px;
    box-shadow: 0 4px 10px var(--secondary-color);
    margin-top: 30px;
    filter: drop-shadow(0 0 4px var(--secondary-text-color));
    width: 100%;
    height: 200px;
}

@media (max-width: 430px) {
        
    h1 {
        font-size: 2rem;
    }

    .container {
        padding: 10px;
    }

    .title, .message, .counter {
        max-width: 90%;
    }

    .slider {
        width: 90%;
        height: 616px;
        border: 3px solid var(--secondary-text-color);
    }
   
    .couple {
        font-size: 3rem;
    }
}
