<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Casal</title>
    <link rel="stylesheet" href="/template.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Love+Light&display=swap" rel="stylesheet">

    <style>
    </style>
</head>

<body>
    <div class="container">
        <div class="slider" id="slide-img">
        </div>

        <div class="couple">
            <span id="couple-name"></span>
        </div>

        <div class="message">
            <p id="message"></p>
        </div>

        <div class="counter">
            <p>Juntos</p>
            <div id="time">

            </div>

        </div>

        <div class="iframe">
            <iframe id="youtube-frame" style="display: none;" frameborder="0" allow="autoplay; encrypted-media"></iframe>
        </div>
        
    </div>

    <footer>
        <p>&copy; 2024 - Feito com amor para o casal</p>
    </footer>

    <script src="https://www.youtube.com/iframe_api"></script>

    <script>
        function calcularDiferenca(dataInicial) {
            let agora = new Date();
            let diferenca = agora - dataInicial;

            let segundosTotais = Math.floor(diferenca / 1000);
            let minutosTotais = Math.floor(segundosTotais / 60);
            let horasTotais = Math.floor(minutosTotais / 60);
            let diasTotais = Math.floor(horasTotais / 24);

            let anos = Math.floor(diasTotais / 365);
            diasTotais %= 365;

            let meses = Math.floor(diasTotais / 30);
            let dias = diasTotais % 30;

            let horas = horasTotais % 24;
            let minutos = minutosTotais % 60;
            let segundos = segundosTotais % 60;

            let resultado = '';

            if (anos > 0) resultado += `<div><span>Ano</span> <span> ${anos} </span></div>`;
            if (meses > 0) resultado += `<div><span>Mês</span> <span> ${meses} </span></div>`;
            if (dias > 0) resultado += `<div><span>Dia</span> <span> ${dias} </span></div>`;

            // resultado += `${horas} hora${horas > 1 ? 's' : ''}, ${minutos} minuto${minutos > 1 ? 's' : ''} e ${segundos} segundo${segundos > 1 ? 's' : ''}`;
            resultado += `
                <div><span>Hor</span> <span> ${horas} </span></div> 
                <div><span>Min</span> <span> ${minutos} </span></div>
                <div><span>Seg</span> <span> ${segundos} </span></div>`;

            return resultado;
        }

        const urlParams = window.location.pathname.split('/');
        const id = urlParams[1];

        fetch(`/pages/${id}`)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.getElementById('couple-name').textContent = data.couple_name;
                document.getElementById('message').textContent = data.message;

                let dataInicial = new Date(data.started_at);
                let time = document.getElementById('time');
                time.innerHTML = calcularDiferenca(dataInicial);

                setInterval(() => {
                    time.innerHTML = calcularDiferenca(dataInicial);
                }, 1000);

                const images = data.images.split(',');
                let slide_img = document.getElementById('slide-img');
                let counter = 0;

                if (images.length > 0) {
                    // slide_img.src = `/uploads/${images[images.length - 1]}`;
                    slide_img.style.backgroundImage = `url('/uploads/${images[images.length - 1]}')`;

                }

                function slider() {
                    // slide_img.src = `/uploads/${images[counter]}`;
                    slide_img.style.backgroundImage = `url('/uploads/${images[counter]}')`;

                    counter = (counter + 1) % images.length;
                }

                setInterval(slider, 4000);

                if (data.music) {
    const youtubeFrame = document.getElementById('youtube-frame');
    youtubeFrame.src = data.music.replace("watch?v=", "embed/") + "?autoplay=1&mute=1";
    youtubeFrame.style.display = 'block';

    // Função para aumentar o volume gradualmente
    const increaseVolumeGradually = (player) => {
        let volume = 0;
        const increaseVolume = setInterval(() => {
            if (volume < 100) {
                volume += 5; // Aumenta o volume em 5 a cada intervalo
                player.setVolume(volume);
            } else {
                clearInterval(increaseVolume); // Para quando atingir volume máximo
            }
        }, 300); // Intervalo de 300ms
    };

    const onPlayerReady = (event) => {
        event.target.unMute(); // Desmuta o vídeo
        increaseVolumeGradually(event.target); // Inicia o aumento do volume
    };

    // Verifica se a API do YouTube já foi carregada
    if (typeof YT === 'undefined' || typeof YT.Player === 'undefined') {
        // Carrega a API do YouTube
        const tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        document.head.appendChild(tag);

        window.onYouTubeIframeAPIReady = () => {
            new YT.Player('youtube-frame', {
                events: {
                    'onReady': onPlayerReady
                }
            });
        };
    } else {
        new YT.Player('youtube-frame', {
            events: {
                'onReady': onPlayerReady
            }
        });
    }
}

            })
            .catch(err => {
                console.error('Erro ao carregar a página do casal:', err);
            });
    </script>
</body>
</html>
